<p>Witaj,</p>

<p>aby zresetować Twoje hasło w serwisie pet_help_pl kliknij poniższy link:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>Jeśli tego nie zrobisz przestanie on być aktywny po upływie 2 godzin.</p>

<p>
Jeśli to nie Ty zarządałeś resetu hasła - zignoruj tego maila. Twoje hasło pozostanie niezmienione.
</p>