<footer class="footer">
  <div class="container">
    <small>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Regulamin",   regulations_path %></li>
        <li><%= link_to "Kontakt", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
